.abstract-toggle {
  cursor: pointer;
  color: #b45309;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.abstract-toggle:hover {
  text-decoration: underline;
}

.abstract-content {
  display: none;
  font-style: normal;
  color: #939495;
  margin-bottom: 1em;
}